[user]
    name = Kevin Harriss
    email = special.kevin@gmail.com
[core]
    editor = "nvim"
    pager = "delta"
[hub]
    host = github.com
[alias]
    up = "!git remote update --prune && git rebase origin/main"
    mastersync = "!git remote update --prune && git rebase origin/master"
    copr = "!sh -c 'echo usage: git copr pr_number && git fetch origin pull/${0} && git checkout ${0}'"
    oops = "commit --amend --no-edit"
    it = "!git init && git commit -m 'root' --allow-empty"
    shorty = "status --short -branch"

#shortcuts for various git endpoints
[url "ssh://git@stash.ondeck.tools:7999/"]
    insteadOf = "odl:"

[delta]
    syntax-theme = Nord
    line-numbers = True
    side-by-side = True
