[user]
    name = Kevin Harriss
    email = special.kevin@gmail.com
[core]
    editor = "nvim"
[hub]
    host = github.com
[alias]
    up = "!git remote update --prune && git rebase origin/main"
    mastersync = "!git remote update --prune && git rebase origin/master"
    copr = "!sh -c 'echo usage: git copr pr_number && git fetch origin pull/${0} && git checkout ${0}'"
    oops = "commit --amend --no-edit"
    it = "!git init && git commit -m 'root' --allow-empty"
    shorty = "status --short -branch"
[pager]
    diff = diff-so-fancy | less --tabs=1,5
    show = diff-so-fancy | less --tabs=1.5

#shortcuts for various git endpoints
[url "ssh://git@stash.ondeck.tools:7999/"]
    insteadOf = "odl:"
